{% extends "base.html" %} {% block content %}
<div class="column">
    <h1>Bottle Profile: {{bottle.name}}</h1>
    <table class="is-table">
        <tr>
            <td>Brand:</td>
            <td>{{bottle.brand}}</td>
        </tr>
        <tr>
            <td>Material:</td>
            <td>{{bottle.material}}</td>
        </tr>
        <tr>
            <td>Capacity:</td>
            <td>{{bottle.volume / 1000}} L</td>
        </tr>
    </table>
    <h2>Reviews</h2>
    <ul>
        {% for review in reviews %} <li>Rating: {{review.rating}} - Text: {{review.text}} - {{review.user.username}}</li> {% endfor %}
    </ul>
    <a href="{{url_for('reviews.create_review', id=bottle.id)}}"><button class="button is-primary">add a review</button></a>
</div>
{% endblock %}
