{% extends "base.html" %} {% block content %}
<div class="content">
    <h1>Bottle Profile: {{bottle.name}}</h1>
    <table class="is-table">
        <tr>
            <td>Brand:</td>
            <td>{{bottle.brand}}</td>
        </tr>
        <tr>
            <td>Material:</td>
            <td>{{bottle.material}}</td>
        </tr>
        <tr>
            <td>Capacity:</td>
            <td>{{bottle.volume / 1000}} L</td>
        </tr>
    </table>
    <h2 class="has-text-centered">Reviews</h2>
    <br />
    <div class="container">
        <div class="columns is-multiline">
            {% for review in reviews %}
            <div class="column is-one-third m-1">
                <div class="card">
                    <div class="card-content">
                        <p class="title is-4 has-text-centered">
                            Rating: {{review.rating}} Stars
                        </p>
                    </div>
                    <div class="content">
                        <p>{{review.text}}</p>
                        <br />
                        <time
                            >Review published: {{review.published.date()}}</time
                        >
                        <div class="card-footer">
                            <a
                                class="card-footer-item"
                                href="{{url_for('users.user_profile', username=review.user.username)}}"
                                >{{review.user.username}}</a
                            >
                            {% if current_user.username == review.user.username
                            %}
                            <a
                                class="card-footer-item has-text-danger"
                                href="{{url_for('reviews.delete_review', id=review.id)}}"
                                >delete</a
                            >
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br />
    <div class="has-text-centered">
        <a href="{{url_for('reviews.create_review', id=bottle.id)}}"
            ><button class="button is-primary">add a review</button></a
        >
        {% if current_user.is_authenticated %} {% if bottle in
        current_user.favorites %}
        <a
            href="{{url_for('users.remove_fave', user_id=current_user.id, bottle_id=bottle.id)}}"
            ><button class="button is-warning">
                Unfavorite this bottle
            </button></a
        >
        {% else %}
        <a
            href="{{url_for('users.add_fave', user_id=current_user.id, bottle_id=bottle.id)}}"
            ><button class="button is-info">Favorite this bottle</button></a
        >
        {% endif %} {% endif %}
    </div>
</div>
{% endblock %}
