{% extends "base.html" %} {% block content %}
<div class="column">
    <h1>All Bottles!</h1>
    <a href="{{url_for('bottles.create_bottle')}}"><button class="button is-primary">add a new bottle</button></a>
    <table class="table is-narrow is-striped">
        <thead>
            <tr>
                <th>Bottle Name</th>
                <th>Brand</th>
                <th>Material</th>
                <th>Volume (L)</th>
            </tr>
        </thead>
        <tbody>
            {% for bottle in bottles %}
            <tr>
                <td> <a href="{{url_for('bottles.bottle_detail', id=bottle.id)}}">{{bottle.name}}</a></td>
            <td>{{bottle.brand}}</td>
            <td>{{bottle.material}}</td>
            <td>{{bottle.volume / 1000}}</td>
            <td><a href="{{url_for('bottles.update_bottle', id=bottle.id)}}"><span class="tag is-link">Edit</span></a></td>
            <td><a href="{{url_for('bottles.delete_bottle', id=bottle.id)}}"><span class="tag is-danger">Delete</span><a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}