{% extends "base.html" %} {% block content %}
<div class="column is-half">
    <h1>Add A Bottle</h1>
    <form method="POST">
        {{form.hidden_tag()}}
        <div class="field">
            {{form.name.label(class="label")}} {{form.name(class="input")}}
        </div>
        <div class="field">
            {{form.brand.label(class="label")}} {{form.brand(class="input")}}
        </div>
        <div class="field">
            {{form.material.label(class="label")}}
            {{form.material(class="input")}}
        </div>
        <div class="field">
            {{form.volume.label(class="label")}} {{form.volume(class="input")}}
        </div>
        <div class="field">{{form.submit(class="button is-primary")}}</div>
    </form>
</div>
{% endblock %}
