
{% extends "base.html" %} {% block content %}
<div class="column">
  <form method="POST">
    {{form.hidden_tag()}}
    <div>
      {{form.name.label(class="label")}}
      {{form.name(class="input")}}
    </div>
    <div>
      {{form.brand.label(class="label")}}
      {{form.brand(class="input")}}
    </div>
    <div>
        {{form.material.label(class="label")}}
        {{form.material(class="input")}}
    </div>
    <div>
      {{form.volume.label(class="label")}}
      {{form.volume(class="input")}}
  </div>
    <div>{{form.submit(class="button is-primary")}}</div>
  </form>
</div>
{% endblock %}